$beige: #f2EEE2; 
$beige-light: rgba(242, 238, 226, .5);

$cyan: #43C0F6;
$cyan-light: rgba(67, 192, 246, .5);

$ink: #333333;
$ink-light: rgba(51, 51, 51, .5);

$midnight: #020035; 
$midnight-light: rgba(2, 0, 53, .5);

$yellow: #F5CE28; 
$yellow-light: rgba(245, 206, 40, .5);

$magenta: #F81B84;  
$magenta-light: rgba(248, 27, 132, .5);
