form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
  .actions {
    display: flex;
    justify-content: end;
    max-width: 500px;
  }
}

input, .btn {
  align-items: center;
  border-radius: 5px;
  display: flex;
  gap: 0.25rem; 
  font-size: 1rem;
  padding: 0.25rem .75rem;
  span:first-of-type {
    height: 1rem;
    width: 1rem;
  }
  &:hover, &:focus, &:focus-visible {
    cursor: pointer;
    outline: none;
  }
}

.discreet {
  background-color: unset;
  border: 1px solid $magenta;
  color: $magenta; 
  svg {
    path {
      fill: $magenta; 
    }
  }
  &:hover, &:focus, &:focus-visible {
    background-color: $magenta;
    border: 1px solid $beige;
    box-shadow: 2px 2px 4px $beige-light;
    color: $beige; 
    svg {
      path {
        fill: $beige; 
      }
    }
  }
}

input[ type = submit ] {
  background-color: $magenta;
  border: 1px solid $magenta;
  color: $beige; 
  &:hover, &:focus, &:focus-visible {
      background-color: $cyan;
      border: 1px solid $cyan;
      border-radius: 5px;
      box-shadow: 2px 2px 4px $cyan-light;
      cursor: pointer;
      color: $beige; 
      outline: none;
  }
}

label {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  max-width: 500px;
  input[ type = text ] {
    background-color: $beige;
    border: 1px solid $beige;
    border-radius: 5px;
    color: $magenta;
    flex-grow: 1;
    font-size: 1rem;
    padding: 0.25rem;
    &:hover, &:focus, &:focus-visible {
      background-color: $beige;
      border: 1px solid $magenta;
      box-shadow: 2px 2px 4px $magenta-light;
      cursor: text;
      outline: none;
    }
  }
}