@import 'partials/colors';
body {
  background-color: $midnight;
  margin: auto; 
  max-width: 500px;
  padding: 1rem;
  table {
    width: 100%; 
    tr {
      td:first-of-type {
        width: 100%;
      }
    }
  }
  .alert:not(:empty) {
    background-color: $magenta;
    border: 1px solid $magenta;
    border-radius: 5px;
    color: $beige;
    flex-grow: 1;
    font-size: 1rem;
    padding: 0.25rem;
  }
  .notice:not(:empty) {
    background-color: $beige;
    border: 1px solid $beige;
    border-radius: 5px;
    color: $magenta;
    flex-grow: 1;
    font-size: 1rem;
    padding: 0.25rem;
  }
}