body {
  color: $yellow; 
  font-family: sans-serif;
  a {
    color: $yellow; 
    text-decoration: none;
    &:hover, &:focus {
        color: $magenta; 
        cursor: pointer;
        outline: none;
        text-decoration: underline;
    }
  }
  h1 {
    color: $magenta; 
  }
}